*{
    margin: 0;
    background-color: grey;
}
#box{
    position:absolute;
    color: blue;
    height: 100px;
    width: 100px;
    border: solid black;
    border-radius: 50%;
    top: 10%;
    left: 15%;
    background-color: #fff;
}
h2{
    text-align: center;
    line-height: 101px;
    background-color: green;
    border-radius: 60%;
}
p{
    background-color:yellow; 
    height: 2.5em;
    text-align: center;
    line-height: 2.5;
    
}
main{
    position: absolute;
    height: 25em;
    width: 65em;
    background-color: white;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container{
    background-color: lightblue;
    height: 70%;
    /* margin:2% auto; */
}
#banker{
    background-color: orange;
    height: 100%;
    width: 45%;
    float: right;
}
#player{
    background-color: blue;
    height: 100%;
    width: 45%;
}
#box2{
    position: absolute;
    height: 50px;
    width: 73px;
    /* border-radius: ; */
    border: solid crimson;
    border-radius: 51%;
    top: 45%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #fff;
}
h5{
    font-size: 25px;
    line-height: 42px;
    border-radius: 51%;
    background-color: #fff;
}
#dote{
    border: solid red;
    height: 100px;
    background-color: #fff;
}
#dot1{
    height: 19px;
    width: 19px;
    border: solid black;
    border-radius: 50%;
    background-color:blue;
}
#dot2{
    height: 19px;
    width: 19px;
    border: solid black;
    border-radius: 50%;
    background-color:red;
}



